page-home {

    img{
        //height: 70vh;
        width: auto;
        margin: auto;
        display: block;
        
      }

    .submitReport{

      height: 60px;
      font-size: 20px !important;
      position: relative;
      top:10px;
      background-color: #1f80bf;
      

    }

    .previousReport{

      height: 60px;
      font-size: 20px !important;
      position: relative;
      top:20px;
      background-color: #1f80bf;
      
    }

    .secondLargeButton{

      height: 60px;
      font-size: 20px !important;
      position: relative;
      top:30px;
      background-color: #1f80bf;
      
    }

}
